.card-item {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25rem;
    min-height: 20rem;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(5, 11, 13, 0.01) 22.68%, rgba(14, 26, 32, 0.94) 66.18%);
    overflow: hidden;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &.card-item-service-1 {
        background-image: linear-gradient(180deg, rgba(5, 11, 13, 0.01) 22.68%, rgba(14, 26, 32, 0.94) 66.18%), url("/static/images/service-card-bg-1.png");
    }
    &.card-item-service-2 {
        background-image: linear-gradient(180deg, rgba(5, 11, 13, 0.01) 22.68%, rgba(14, 26, 32, 0.94) 66.18%), url("/static/images/service-card-bg-2.png");
    }
    &.card-item-service-3 {
        background-image: linear-gradient(180deg, rgba(5, 11, 13, 0.01) 22.68%, rgba(14, 26, 32, 0.94) 66.18%), url("/static/images/service-card-bg-3.png");
    }

    p {
        font-size: $fsz-sm;
    }
    &__title {
        margin-bottom: 0.625rem;
        font-weight: 700;
        font-size: 1.25rem;
    }

    @media screen and (min-width: 400px) {
        padding: 2.25rem;

        &__title {
            font-size: 1.625rem;
        }
    }

    @include media-breakpoint-up(lg) {
        min-height: 38.4375rem; // 615

        &.card-item-service-1 {
            margin-top: -50px;
        }
        &.card-item-service-2 {
            margin-top: -120px;
        }
    }
}

.card-items-list {
    @include media-breakpoint-up(lg) {
        margin-top: 100px;
    }
}